<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Конкурси</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<img class="-z-10 absolute h-screen w-screen "
     src="https://images.wallpaperscraft.ru/image/single/dirizher_orkestr_skripki_145362_1920x1080.jpg">
<header th:insert="navbar.html ::navbar"></header>
<main class="flex justify-center items-center ">
    <div class="flex flex-col justify-center items-center h-[75vh] w-[75vw]  rounded-2xl bg-yellow-200 mt-10">

        <div class="flex justify-between w-1/2">
            <div>
                Назва конкурсу
            </div>
            <div>
                Дата проведення
            </div>

        </div>
        <hr>
        <div th:each="competition:${competitions}" class="w-1/2">
            <a th:if="${competition.isActive()}"  th:href="'/competition/'+${competition.id}">
                <div class="flex justify-between px-2 py-1 rounded border-2 bg-green-300 opacity-75 mt-1 hover:scale-105 duration-300 ">

                    <div th:text="${competition.name}">
                    </div>
                    <div th:text="${competition.date}">
                    </div>
                </div>
            </a>
            <a th:if="${!competition.isActive()}"  th:href="'/competition/'+${competition.id}">
                <div class="flex justify-between px-2 py-1 rounded border-2 bg-red-300 opacity-75 mt-1 hover:scale-105 duration-300 ">

                    <div th:text="${competition.name}">
                    </div>
                    <div th:text="${competition.date}">
                    </div>
                </div>
            </a>
        </div>
    </div>
</main>

</body>
</html>