<div th:fragment="navbar" class="opacity-75 flex  items-center justify-center h-[10vh] bg-blue-300">
    <div class="hover:scale-110 duration-200 mx-4 text-xl flex">
        <a class="border bg-blue-400 border-blue-400 rounded-l  px-3 py-1 " href="/profile">Профіль</a>
        <div class="bg-gray-600 w-[2px] h-[42px] "></div>
        <a href="/logout" class="text-xl border bg-blue-400 border-blue-400 rounded-r  pl-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                 class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                <path fill-rule="evenodd"
                      d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
            </svg>
        </a>
    </div>

    <div class="hover:scale-110 duration-200 mx-4 text-xl">
        <a class="border bg-blue-400 border-blue-400 rounded px-3 py-1 " href="/">Головна</a>
    </div>

    <div class="hover:scale-110 duration-200 mx-4 text-xl">
        <a class="border bg-blue-400 border-blue-400 rounded px-3 py-1 " href="/all-competitions">Список конкурсів</a>
    </div>
    <div class="hover:scale-110 duration-200 mx-4 text-xl">
        <a class="border bg-blue-400 border-blue-400 rounded px-3 py-1 " href="/create-competition">Створити конкурс</a>
    </div>

</div>